# Backend (Maven)
backend/target/
*.class

# Frontend (Angular / Node)
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Env
.env

# k8s - ban Secret THAT da dien mat khau (chi commit ban ".example" mau)
k8s/01-secret.yaml

# IDE
.idea/
*.iml
.vscode/
